#header h1{
	margin: 15px 0 13px;
	text-align:center;
}

h1 a{
	color:#eee;
}

h1 a:hover{
	text-decoration:none;
	color:#fff;
}

#header{
	background-color:#222;
	width:100%;
	float:left;
	margin:0 auto;
	color:#fff;
	padding:0;
}

#header .navbar-inverse{
	    border-radius:0;
		margin: 0 auto;
		padding: 0;
		border:none;
		width:100%;
		text-align: center;	
		border-bottom: solid 5px #000;
}

#header .navbar-inverse ul{
	    width:100%;
		padding:0;
		margin:0;
		list-style-type: none;
		position: relative;
}

#header .navbar-inverse ul li{
	display:inline-block;
	
}

#header .navbar-inverse ul li:hover{
	background-color: #333;
}

#header .navbar-inverse ul li a,visited{
	text-decoration: none;
	color: #eee;
    display: block;
    padding: 10px 25px;
	font-size:15px;
}

#header .navbar-inverse ul .active{
	background-color: #333;
}

body{
	width:auto;
}

#p-img{
	width:200px;
	margin:0 auto;
	padding-top:30px;
}

#wrapper{
	width:auto;
	
}

#jumbotron{
	float: left;
    width: 100%;
    margin: 0 auto;
	padding: 0;
	
}

#profile-sum-org-panel-success{
	margin:0!important;
	clear:both;
}

#jumbotron .list-nav{
	width:100%;
	margin: 0 auto;
	float:left;
	margin-top: 13px;
    margin-bottom: 5px;
}

#jumbotron .list-nav ul{
	width:100%;
	text-align: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	padding-bottom: 10px;
}

#jumbotron .list-nav ul li{
	display:inline-block;
}

#jumbotron .list-nav ul li a{
	display:inline-block;
	text-decoration: none;
}

#jumbotron .list-nav ul li:nth-child(2) a{
	font-size:19px;
	display:block;
	color:#3A8431;
}

#jumbotron .list-nav ul li:nth-child(2){
	margin-left:471px;
}

#jumbotron .list-nav ul li:nth-child(3){
	border:solid 1px #D67733;
	border-radius:2px;
	margin-left:25px;
}

#jumbotron .list-nav ul li:nth-child(3) a{
	font-size:15px;
	display:block;
	font-weight:600;
	color:#fff;
	background-color:#D67733;
	padding: 1px 11px;
}


#jumbotron .addbook-sub-container{
	width: 960px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 494px;
}

#jumbotron .add-subscription-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 500px;
}

#jumbotron .add-profile-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 500px;
}

#jumbotron .add-gender-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 82px;
    padding-bottom: 195px;
}

#jumbotron .bookmark-list-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 82px;
    padding-bottom: 195px;
}

#jumbotron .bookmark-add-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 82px;
    padding-bottom: 551px;
}

#jumbotron .bookmark-add-sub-container form input {
	width:500px;
}

#jumbotron .bookmark-add-sub-container form button{
	
}

#brn-yellomark {
	
}

#brn-yellomark span{
	color:#FFB100;
}

#jumbotron .bookmark-del-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 82px;
    padding-bottom: 631px;
}

#jumbotron .bookmark-list-sub-container h2 {
	text-align:center;
}

#jumbotron .bookmark-add-sub-container h2 {
	text-align:center;
}

#jumbotron .bookmark-del-sub-container h2 {
	text-align:center;
}
	
#jumbotron .city-add-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 82px;
    padding-bottom: 551px;
}

#jumbotron .city-add-sub-container h2{
	text-align: center;
}

#jumbotron .add-sum-org-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 62px;
    padding-bottom: 500px;
}

#profile-sum-org-panel-heading{
	text-align:center;
	font-weight:600;
	font-size:18px;
}

#jumbotron .profile-sum-org-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 62px;
    padding-bottom: 500px;
}

#jumbotron .list-profile-pic-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 62px;
    padding-bottom: 500px;
}

#jumbotron .viewbook-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 530px;
}

#jumbotron .view-subcrb-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 630px;
}

#jumbotron .view-profile-pic-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 25px;
    padding-bottom: 630px;
}

#jumbotron .add-subscription-sub-container form{
	width:496px;
	margin: 0 auto;
}

#jumbotron .add-subscription-sub-container .input{
	width:100px;
	margin: 0 auto;
}

#jumbotron .add-profile-sub-container .input{
	width:720px;
	margin: 0 auto;
}

#jumbotron .add-gender-sub-container .input{
	width:320px;
	margin: 0 auto;
}

#jumbotron .add-subscription-sub-container .input input{
	padding-left:5px;
}

#jumbotron .add-profile-sub-container .input input{
	padding-left:5px;
	float: left;
    clear: right;
}

#jumbotron .viewbook-sub-container button{
	margin: 0 auto;
	margin-left: 357px;
    margin-top: 57px;
}

#jumbotron fieldset{
	
}



#jumbotron .view-subcrb-sub-container button{
	margin: 0 auto;
	margin-left: 357px;
    margin-top: 57px;
}

#jumbotron .add-gender-sub-container button{
	padding: 12px 90px 12px 90px;
	font-weight:600;
	font-size: 16px;
	margin:15px 25px 15px 25px;
}

#jumbotron .add-radio-sub-container{
	width: 27%;
    margin: 0 auto;
	margin-top: 86px;
	margin-bottom: 400px;
}

#jumbotron .add-radio-sub-container h2{
	text-align:center;
	padding-bottom: 74px;
}

#jumbotron .add-radio-sub-container .input label,input{
	margin-bottom: 18px;
}

#jumbotron .add-radio-sub-container .input button{
	margin-right:10px;
}



#jumbotron .add-gender-sub-container ul li{
	display:inline;
	text-transform:none;
}

#jumbotron .add-gender-sub-container ul{
	width:702px;
	margin: 0 auto;
}

#jumbotron .add-gender-sub-container ul li a{
	text-decoration:none;
	color:#fff;
}

#jumbotron .view-profile-pic-sub-container button{
	margin: 0 auto;
}

#jumbotron .del-book-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 530px;
}

#jumbotron .view-profile-pic-sub-container .change{
	margin-left: 351px;
    margin-top: 35px;
}

#jumbotron .view-profile-pic-sub-container .delete{
	margin-left: 30px;
    margin-top: 35px
}

#jumbotron .view-profile-pic-sub-container .back-list{
	margin-left:124px
}

#jumbotron .del-book-sub-container button{
	margin: 0 auto;
	margin-left: 357px;
    margin-top: 57px;
}

#jumbotron .update-book-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 504px;
}

#jumbotron .booklist-sub-container h2{
	text-align:center;
	margin:0 auto;
}

#jumbotron .add-subscription-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom: 105px;
}


#jumbotron .add-profile-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom: 105px;
}

#jumbotron .add-gender-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom: 105px;
}

#jumbotron table{
	width:100%;
	font-size:15px;
	    margin-bottom: 70px;
}

#jumbotron .add-sum-org-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom: 105px;
}

#jumbotron .update-book-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom:20px;
}

#jumbotron .view-profile-pic-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom:20px;
}

#jumbotron .content h2{
	text-align:center;
	font-size:50px;
	margin:0 auto;
}

#jumbotron .booklist-sub-container{
	width:960px;
	margin: 0 auto;
	padding-top: 21px;
    padding-bottom: 550px;
}

#jumbotron .birthday-list-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 21px;
    padding-bottom: 300px;
}

#jumbotron .birthday-list-sub-container h2{
	text-align:center;
}

#jumbotron .addbook-sub-container form fieldset div:nth-child(1),
#jumbotron .addbook-sub-container form fieldset div:nth-child(2),
#jumbotron .addbook-sub-container form fieldset div:nth-child(3){
	display: block;
    width: 450px;
}

#jumbotron .addbook-sub-container form fieldset div label{
    float: left;
    padding-top: 30px;
    padding-bottom: 8px;
}

#jumbotron .addbook-sub-container form fieldset div:nth-child(3) div button{
	float: left;
    margin-top: 23px;
    padding: 8px 40px;
}
    

#jumbotron .add-sum-org-sub-container label{
	margin-left:228px;
}

#jumbotron .update-book-sub-container label{
	margin-left:228px;
}

#jumbotron .add-sum-org-sub-container textarea{
	margin-top:40px;
}

#jumbotron .add-sum-org-sub-container button{
	margin-top:20px;
	margin-left:70px;
}

#jumbotron .form-group{
	margin:0;
	padding:0;
}

#jumbotron .add-sum-org-sub-container .add-button{
	margin-left:300px;
}

#jumbotron .book-list{
	width:750px;
	padding-left:295px;
	padding-top:17px;
}

#jumbotron .book-list tr th, tr td, tr td button{
	text-align:center;
}

#jumbotron .book-list tr th, tr td{
	padding:3px;
}

#jumbotron .book-list tr td{
	font-size:15px;
}

#jumbotron .add-gender-sub-container table tr td{
	text-align:left;
}

#jumbotron .add-gender-sub-container label{
	margin-top:10px;
}

#jumbotron .add-gender-sub-container table tr td input{
	margin-right:10px;
	margin-left:15px;
}

#jumbotron .paginating{
	margin: 0 auto;
    padding-left: 26px;
	padding-top: 22px;
}

#jumbotron .list-sum-org-pagination{
	margin:0 auto;
	padding:0;
	width:232px;;
}

#footer{
	background-color:#222;
	width:100%;
	float:left;
	margin:0 auto;
	color:#eee;
	padding:0;
	padding-top:15px;
	padding-bottom:15px;

}

#footer p{
	text-align:center;
	margin:0 auto;
	font-size:15px;
}
