html{
	
}

#header{
	margin:0;padding:0;
	width:100%;
	background-color:#314d68;
	padding-bottom: 5px;
	
}

#success-alert{
	
	position:fixed;
	width:400px;
	
	    margin-left: 375px;
    margin-top: 5px;
	
}

#profile-picture{
	    width: 200px;
    float: left;
    margin-left: 72px;
    padding-top: 50px;
    clear: both;
}

#profile-picture h4{
	text-align:center;
	font-weight:600;
}

#profile-title{
    width: 300px;
    margin-left: 166px;
    padding-top: 15px;
    float: left;
}

#profile-title h4{
	text-align:center;
	    font-size: 23px;
    font-weight: 600;
}

#inner-nav{
	width: 300px;
    float: left;
   
}

#inner-nav ul{
    width: 90%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    float: left;
    padding-left: 0;
}

#inner-nav ul li{
	display:inline-block;
	float: left;
}

#inner-nav ul li:nth-child(1){
	padding-right:45px;
	margin-bottom:20px;
}

#inner-nav ul li:nth-child(2){
	margin-bottom:20px;
}

#inner-nav ul li:nth-child(1) img{
	margin-left:8px!important;
}

#inner-nav ul li:nth-child(2) img{
	margin-left:14px!important;
}
#inner-nav ul li:nth-child(4) img{
	margin-right:12px!important;
}

#inner-nav ul li:nth-child(3){
	padding-right:88px;
}

#inner-nav a{
	font-size: 13px!important;
    font-weight: 600!important;
	color:#C15303!important;
	text-align:center!important;
	text-decoration:none!important;
	padding: 0 10px 0 10px!important;
}

#inner-nav img{
	display:block!important;
	text-align:center!important;
	margin: 0!important;
	padding-bottom:3px!important;
}

#profile-name{
    width: 561px;
    display: inline-block;
    padding-top: 180px;
    float: left;
    padding-left: 62px;
}

#profile-name h4{
	    text-align: center;
    font-size: 25px;
    font-weight: 600;
	color:#0D7EAB;
}

#profile-table{
	margin: 0 auto;
	margin-left: 73px;
	margin-top: 33px;
    float: left;
    clear: both;
}

#profile-table .address{
	padding:0;
	margin:0;
	color:#009688;
	
}

#profile-table .row-b{
	padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

#profile-table .column-a{
	padding: 0;
    margin: 0;
	width: 113px;
}

#profile-table .column-b{
	padding: 0;
    margin: 0;
    width: 190px;
}

#profile-table .column-c{
	padding: 0;
    margin: 0;
        width: 87px;
}

#profile-table .column-d{
	    padding: 0;
    margin: 0;
    width: 300px;
    float: left;
	    padding-top: 60px;
    padding-bottom: 60px;
}

#profile-table .column-e{
	padding: 0;
    margin: 0;
        width: 147px;
}

#profile-table .column-f{
	padding: 0;
    margin: 0;
        width: 210px;
}

#profile-table th{
	font-size: 16px;
}

#profile-table td{
	    font-size: 13px;
    font-weight: 600;
	color:#009688;
}

#success-alert p{
	font-size:18px;
	text-align:center;
	padding-top:30px;
	
}

#header a{
	float:left;
}

#header h1{
	    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    padding-top: 13px;
    font-weight: 600;
    font-size: 31px;
    color: #d9d8d8;
    margin-left: 22px;
}

#header img{
	margin-left: 133px;
}

#header figure{
	text-align:center;
	padding-top: 14px;
	    padding-bottom: 10px;
	width:50%;
	margin:0 auto;
	overflow: hidden;
}

#header .nav{
	border: none;
    border-radius: 0;
	margin:0;padding:0;
	background-color:;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

#header nav ul{
	margin:0;padding:0;
	width: 100%;
    list-style-type: none;
    position: relative;
}

#header nav ul li{
	display:inline-block;
}

#header nav ul li a,visited{
	text-decoration: none;
    color: #d9d8d8;
    display: block;
    padding: 0 25px;
    font-size: 16px;
}

#container .list-nav{
	width:100%;
	margin: 0 auto;
	    margin-bottom: 5px;
}

#container .list-nav ul{
	width:100%;
	text-align: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}

#container .list-nav ul li{
	display:inline-block;
}

#container .list-nav ul li a{
	display:inline-block;
	text-decoration: none;
}

#container .list-nav ul li:nth-child(2) a{
	font-size:19px;
	display:block;
	color:#3A8431;
}

#container .list-nav ul li:nth-child(2){
	margin-left:693px;
}

#container .list-nav ul li:nth-child(3) a{
	font-size:19px;
	display:block;
	color:#3A8431;
}

#container .list-nav ul li:nth-child(3){
	margin-left:30px;
}




#container .list-nav ul li:nth-child(4){
	border:solid 1px #D67733;
	border-radius:2px;
	margin-left:25px;
}

#container .list-nav ul li:nth-child(4) a{
	font-size:15px;
	display:block;
	font-weight:600;
	color:#fff;
	background-color:#D67733;
	padding: 1px 11px;
}



#jumbotron .list-nav{
	width:100%;
	margin: 0 auto;
	margin-top: 13px;
    margin-bottom: 5px;
}

#jumbotron .list-nav ul{
	width:100%;
	text-align: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	padding-bottom: 10px;
}

#jumbotron .list-nav ul li{
	display:inline-block;
}

#jumbotron .list-nav ul li a{
	display:inline-block;
	text-decoration: none;
}

#jumbotron .list-nav ul li:nth-child(2) a{
	font-size:19px;
	display:block;
	color:#3A8431;
}

#jumbotron .list-nav ul li:nth-child(2){
	margin-left:423px;
}

#jumbotron .list-nav ul li:nth-child(3) a{
	font-size:19px;
	display:block;
	color:#3A8431;
}

#jumbotron .list-nav ul li:nth-child(3){
	margin-left:30px;
}




#jumbotron .list-nav ul li:nth-child(4){
	border:solid 1px #D67733;
	border-radius:2px;
	margin-left:25px;
}

#jumbotron .list-nav ul li:nth-child(4) a{
	font-size:15px;
	display:block;
	font-weight:600;
	color:#fff;
	background-color:#D67733;
	padding: 1px 11px;
}

#jumbotron .bill-list-nav{
	width:100%;
	margin: 0 auto;
	margin-top: 13px;
    margin-bottom: 5px;
}

#jumbotron .bill-list-nav ul{
	width:100%;
	text-align: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	padding-bottom: 10px;
}

#jumbotron .bill-list-nav ul li{
	display:inline-block;
}

#jumbotron .bill-list-nav ul li a{
	display:inline-block;
	text-decoration: none;
}

#jumbotron .bill-list-nav ul li:nth-child(4){
	border:solid 1px #D67733;
	border-radius:2px;
	margin-left:760px;
}

#jumbotron .bill-list-nav ul li:nth-child(4) a{
	font-size:15px;
	display:block;
	font-weight:600;
	color:#fff;
	background-color:#D67733;
	padding: 1px 11px;
}


#jumbotron .history-list-nav{
	width:100%;
	margin: 0 auto;
	margin-top: 13px;
    margin-bottom: 5px;
}

#jumbotron .history-list-nav ul{
	width:100%;
	text-align: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	padding-bottom: 10px;
}

#jumbotron .history-list-nav ul li{
	display:inline-block;
}

#jumbotron .history-list-nav ul li a{
	display:inline-block;
	text-decoration: none;
}

#jumbotron .history-list-nav ul li:nth-child(3){
	border:solid 1px #D67733;
	border-radius:2px;
	margin-left:760px;
}

#jumbotron .history-list-nav ul li:nth-child(3) a{
	font-size:15px;
	display:block;
	font-weight:600;
	color:#fff;
	background-color:#D67733;
	padding: 1px 11px;
}


#jumbotron .container{
	margin-bottom:190px;
}


#jumbotron{
	margin-bottom:190px;
}

#jumbotron1{
	padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 256px;
    overflow: hidden;
}

#jumbotron1 .progile-container{
	width: 100%;
    border: solid 6px #2B827E;
    float: left;
    clear: both;
	padding-bottom: 30px;
}


#jumbotron1 .progile-container h2{
	margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 25px;
    display: inline-block;
    padding-right: 132px;
    margin-left: 188px;
}

#jumbotron1 .profile-picture{
	margin-left: 90px;
    margin-top: 25px;
    display: inline-block;
    float: left;
    clear: both;
}

#jumbotron1 .progile-container h3{
	margin: 0;
    padding: 0;
    text-align: center;
    display: block;
	font-weight:600;
	color:#346F2D;
	margin-right:305px;
	    margin-top: 128px;
}

#id{
	display:inline-block;
	width:100px;
	float: left;
    clear: both;
	margin-left: 166px;
    margin-top: 9px;
}

#id h4{
	float:left;
    font-weight: 600;
	    margin: 0;
    padding: 0;
}


#birthdate{
	display:inline-block;
	float: left;
    clear: both;
	width:300px;
	padding-top: 60px;
    margin-left: 91px;
}

#birthdate h4{
	float:left;
    font-weight: 600;
}

#birthdate p{
	margin:0;
	padding-top: 4px;
    padding-left: 122px;
	color:#A52990;
}

#jumbotron1 address{
	    display: inline-block;
    float: left;
    width: 303px;
    margin: 0;
    padding-top: 58px;
    margin-left: 45px;
    color: #A52990;
}

#jumbotron1 address h4{
	font-weight:600;
	margin-bottom: 3px;
	color:#333;
}

#city{
	display: inline-block;
    width: 300px;
    padding-top: 99px;
    margin-left: 119px;
}

#city h4{
	float:left;
    font-weight: 600;
}

#city p{
	margin:0;
	padding-top: 4px;
    padding-left: 61px;
	color:#A52990;
}

#sex{
	    width: 300px;
    margin-left: 87px;
    padding-top: 22px;
    display: inline-block;
    float: left;
    clear: both;
}


#sex h4{
	float: left;
    font-weight: 600;
    margin-top: 56px;
}

#sex p{
	margin: 0;
    padding-top: 49px;
    padding-left: 60px;
    color: #A52990;
}

#phone{
	    display: inline-block;
    width: 260px;
    padding-top: 67px;
        margin-left: 47px;
    float: left;
}

#phone h4{
	float:left;
    font-weight: 600;
}

#phone p{
	margin:0;
	padding-top: 4px;
    padding-left: 80px;
	color:#A52990;
}


#id-num{
	    display: inline-block;
    width: 374px;
    padding-top: 67px;
    float: left;
	    margin-left: 37px;
}

#id-num h4{
	float:left;
    font-weight: 600;
}

#id-num p{
	margin:0;
	padding-top: 4px;
    padding-left: 183px;
	color:#A52990;
}


#email{
	width: 591px;
    margin-left: 87px;
    padding-top: 28px;
    display: inline-block;
    float: left;
    clear: both;
}


#email h4{
	float: left;
    font-weight: 600;
    margin-top: 56px;
}

#email p{
	margin: 0;
    padding-top: 49px;
    padding-left: 140px;
    color: #A52990;
}

#habit{
	    display: inline-block;
    width: 300px;
    padding-top: 73px;
    margin-left: 17px;
    float: left;
}

#habit h4{
	float:left;
    font-weight: 600;
}

#habit p{
	margin:0;
	padding-top: 4px;
    padding-left: 117px;
	color:#A52990;
}


#diseases{
	width: 300px;
    margin-left: 87px;
    padding-top: 47px;
    display: inline-block;
    float: left;
    clear: both;
}


#diseases h4{
	
	font-weight:600;
}


#diseases ul li{
	font-size: 18px;
    padding: 11px 0;
	color:#A52990;
}


#container{
	margin:0;padding:0;
	width:100%;
	background-color:#d9d8d8;
	height:100%;
	float:left
}

#container .SubContainer{
	width:1170px;
	height:100%;
	margin:0 auto;
	overflow: hidden;
	    margin-top: 50px;
		    margin-bottom: 169px;
}

#container .RegistrationBox{
	width:750px;
	margin:0 auto;
	text-align:center;
	background-color:#59a4a5;
	margin-top:35px;
	overflow: hidden;
	margin-bottom:150px;
	
-webkit-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -2px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

#container .RegistrationBox h2{
	margin:0;padding:0;
	padding-top:20px;
}

#container .RegistrationBox form .from-group{
	text-align:left;
	overflow:hidden;
	margin-left: 27px;
	margin-bottom:25px;
}

#container .RegistrationBox form{
	
	padding-top:44px;
}

#textarea{
	    width: 661px;
    margin-left: 15px;
}

#panel-body{
	padding:0;
}

#panel-heading{
	text-align:center;
	font-weight:600;
}

#panel-heading-incioce{
	text-align:center;
	font-weight:600;
	
	background-color:#FFAD59;
}

#panel-body-invioce {
	padding:0;
}

#panel-body-invioce h2{
	padding:0!important;
	margin:0!important;
	margin:30px 0 0 0!important;
}


#invoice{
	    width: 100%!important;
    border: solid 6px #738887!important;
    float: left!important;
    clear: both!important;
}

#invoice-date tr td, #panel-body-invioce tr td{
	color:#0B6A73;
	font-weight:bold;
	font-size:13px;
	text-align:center;
}

#panel-body-invioce th{
	text-align:center;
}


#invoice-date{
	margin:0!important;
	float:right!important;
	margin:30px 0!important;
	margin-right:30px!important;
}

#invoice-date th{
	padding-right:22px;
}

#invoice-date tr{
	height:30px!important;
}


#footer{
	margin:0;padding:0;
	width:100%;
	padding: 15px 0;
	background-color:#314d68;
	display: inline-block;

}

#footer p{
	text-align:center;
	color:#d9d8d8;
	padding:0;
	margin:0;
}







